@{
    ViewData["Title"] = "Berber Salonu";
}

<div class="text-center">
    <h1>Hoşgeldiniz</h1>
    <p>Yeni bir randevu almak için <a href="/Randevu/Create">tıklayın</a></p>

    <p>Çalışan eklemek için <a href="/Calisans/Create">tıklayın</a></p>

    <p>Çalışanları görmek için <a href="/Calisans/Index">tıklayın</a></p>

    <p>Çalışanları düzenlemek için <a href="/Calisans/Details">tıklayın</a></p>
</div>
